rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /dashboardUsers/{userId} {
      allow read, write: if signedIn();
    }

    match /dashboards/{slug} {
      allow read, write: if signedIn();
    }

    match /organizations/{orgId}/{document=**} {
      allow read, write: if signedIn();
    }
  }
}
